---
images: LOCATION_OF_IMAGES
mandelbrot: LOCATION_OF_MANDELBROT_BIN
gradient: LOCATION_OF_GRADIENT_GENERATION_BIN
exiftool_path: WHERE_CAN_I_FIND_EXIFTOOL
mode: DEV|PROD
depth: NUMBER_OF_ITERATIONS
twitter:
  CONSUMER_SECRET: YOUR_CONSUMER_SECRET
  OAUTH_TOKEN: YOUR_OAUTH_TOKEN
  OAUTH_TOKEN_SECRET: YOUR_OAUTH_TOKEN_SECRET
  CONSUMER_KEY: YOUR_CONSUMER_KEY
slack:
  token: SLACK_API_TOKEN